.rectangle-list ol 
{
counter-reset:li; /* Initiate a counter */
margin-left:0; /* Remove the default left margin */
padding-left:0; /* Remove the default left padding */
}

/* item  */
.rectangle-list ol > li
{
position: relative;
list-style:none; /* Disable the normal item numbering */
}

/* item hover */
.rectangle-list p
{
display: block;
padding: .4em .4em .4em .8em;
*padding: .4em;
margin: .5em 0 .5em 2.5em;
background: #ddd;
color: #444;
text-decoration: none;
-webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-ms-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
transition: all .3s ease-out;	
}

/* item hover */
.rectangle-list p:hover
{
background: #fa8072;
}	

/* number  */
.rectangle-list p:before
{
content: counter(li);
counter-increment: li;

position: absolute;	
left: 1em;
top: 50%;
margin-top: -1em;

background: #fa8072;
height: 2em;
width: 2em;
line-height: 2em;
text-align: center;
font-weight: bold;
}

/* number hover */
.rectangle-list p:after
{
position: absolute;	
left: -1em;
top: 50%;
margin-top: -.5em;

content: '';
border: .5em solid transparent;

-webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-ms-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
transition: all .3s ease-out;				
}

.rectangle-list p:hover:after
{
left: -.5em;
border-left-color: #fa8072;				
}
