h1 {
    text-align: center;
    }
body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #fff;
}

/* Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#editbutton {
    background-color: #F88017;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#deletebutton {
    background-color: #C11B17;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.mainbuttons 
{
    background-color: #4CAF50;
    color: white;
    display: inline-block;
    text-align: center;
    position: relative;
    height: auto;
    
}

#welcome
{
    font-size: 30px;
}

/*
 * TABLE
 */

@import "compass/css3";

$breakpoint-alpha: 480px; 

.table-rwd {
  margin: 1em 0;
  min-width: 300px; 
  
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    display: none;  
  }
  
  td {
    display: block; 
    
    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)": "; 
      font-weight: bold;

      width: 6.5em; 
      display: inline-block;
      
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }
  
  th, td {
    text-align: left;
    
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;
      
      &:first-child {
        padding-left: 0;
      }
      
      &:last-child {
        padding-right: 0;
      }
    }

  }
  
  
}

.table-rwd {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  tr {
    border-color: lighten(#34495E, 10%);
  }
  th, td {
    margin: .5em 1em;
    @media (min-width: $breakpoint-alpha) { 
      padding: 1em !important; 
    }
  }
  th, td:before {
    color: #dd5;
  }
}
